*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background: url(./assets/bgimage.avif) fixed;
  color: white;
}
body::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 17, 16, 0.3);
  z-index: -1;
}
.addEvent{
  cursor: pointer;
  left: auto;
  position: fixed;
  right: 30px;
  top: 85vh;
  color: #000;
  font-size: 45px;
  font-weight: 400;
  width: 70px;
  height: 70px;
  display:inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(170, 113, 9);
  text-decoration: none;
}
